<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/basicLayout}"
>
<head>
    <script>
        $(document).ready(function () {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                loop: true,
                nav: true,
                margin: 10,
                autoplay:true,
                autoplayTimeout:2500,
                autoplayHoverPause:true,
                responsive: {
                    0:{
                        items:1
                    },
                    600:{
                        items:1
                    },
                    960:{
                        items:1
                    },
                    1200:{
                        items:1
                    }
                }
            });
            owl.on('mousewheel', '.owl-stage', function (e) {
                if (e.deltaY > 0) {
                    owl.trigger('next.owl');
                } else {
                    owl.trigger('prev.owl');
                }
                e.preventDefault();
            });
        });
    </script>
</head>
<div layout:fragment="content">
    <section class="hero-section" th:replace="main/cityInfoSlide :: cityInfoSlide"></section>
    <section class="blog-section spad">
        <div class="container">
            <div class="row">
                <div th:replace="main/mainPopularContents :: mainPopularContents"></div>
                <div th:replace="main/mainSideBar :: mainSideBar"></div>
                <div th:replace="main/cityInfo :: cityInfo"></div>
            </div>
        </div>
    </section>
</div>
</html>
