<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment" class="header-section">
    <div class="hs-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo">
                        <a href="/"><img src="https://liveamonth-simple-bucket.s3.ap-northeast-2.amazonaws.com/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="ht-widget pt-4">
                        <a th:href="@{/logout}" th:text="#{login.logout}" th:if="${loginUser}" class="hw-btn">로그아웃</a>
                        <a th:href="@{/login}" th:text="#{login.signIn}" th:unless="${loginUser}" class="hw-btn">로그인</a>
                        <a th:href="@{/user/signUp}" th:text="#{login.signUp}" th:unless="${loginUser}" class="hw-btn">회원가입</a>
                    </div>
                </div>
            </div>
            <div class="canvas-open">
                <span class="icon_menu"></span>
            </div>
        </div>
    </div>

    <div class="hs-nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <nav class="nav-menu">
                        <ul>
                            <li><a href="/city?menu=SE" th:text="#{city}">도시 소개</a>
                                <ul class="dropdown">
                                    <li><a href="/city?menu=SE" th:text="#{SE}">서울</a></li>
                                    <li><a href="/city?menu=GN" th:text="#{GN}">강릉</a></li>
                                    <li><a href="/city?menu=GJ" th:text="#{GJ}">경주</a></li>
                                    <li><a href="/city?menu=BS" th:text="#{BS}">부산</a></li>
                                    <li><a href="/city?menu=YS" th:text="#{YS}">여수</a></li>
                                    <li><a href="/city?menu=JJ" th:text="#{JJ}">제주</a></li>
                                </ul>
                            </li>
                            <li><a href="/schedule" th:text="#{schedule}">스케줄 보기</a>
                                <ul class="dropdown">
                                    <li><a href="schedule" th:text="#{schedule.mySchedule}">내 스케줄 보기</a></li>
                                    <li><a href="otherScheduleList?action=list"
                                           th:text="#{schedule.otherSchedule}">다른 사람 스케줄 보기</a></li>
                                </ul>
                            </li>
                            <li><a href="/review" th:text="#{review}">후기 게시판</a></li>
                            <li><a href="/myPage?menu=modify" th:text="#{myPage}">마이 페이지</a></li>
                            <li><a href="/customerCenter?menu=faq" th:text="#{customerCenter}">고객 센터</a>
                                <ul class="dropdown">
                                    <li><a href="/customerCenter?menu=faq"
                                           th:text="#{customerCenter.faq}">자주 묻는 질문들</a></li>
                                    <li><a href="/customerCenter?menu=personalTerms"
                                           th:text="#{customerCenter.personalTerms}">개인정보 처리방침</a></li>
                                    <li><a href="/customerCenter?menu=termsAndConditions"
                                           th:text="#{customerCenter.termsAndConditions}">이용약관</a></li>
                                    <li><a href="/customerCenter?menu=notice"
                                           th:text="#{customerCenter.notice}">공지사항</a></li>
                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="hn-social">
                        <!--                        <p th:text="#{hello.name}" th:if="${user}"></p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

</html>